adjustText
certifi
Fiona
geopandas
geopy
ipykernel
ipython
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab_server
matplotlib
matplotlib-inline
notebook
numpy
opencv-python
pandas
Pillow
PyKrige
pyproj
PyYAML
requests
Rtree
scikit-image
scikit-learn
scipy
Shapely
tqdm